<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no">
	<meta name="format-detection" telephone="no">
	<title>小伙伴喊你来赚钱了，买多少送多少</title>
	<link rel="stylesheet" href="css/bind_invite_c9adbf9.css">
	<link rel="stylesheet" href="css/dialog.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<body>
<img class="lmbBanner" src="images/head.jpg" width="100%" />
<ul class="content" id="form">
 
	<li>
	<input class="radius" id="phone" name="phone" type="number" placeholder="请输入您的手机号码">
	<p class="message">提示：您已是易米融理财用户哦！</p>
	</li>
	<li class="nextBtn"><button id="submit" class="btn">下一步</button>
	<p class="top-message">来自好友186****8888的邀请，首次购买定期产品即可获得现金奖励，最低2元，上不封顶呦！</p>
	</li>
	
	<li><input id="mobile" type="number" placeholder="请输入您的短信验证码" style="width:70%;"><button class="chongfa" id="submit">重发</button></li>
	<li><input class="radius" id="mobile" type="number" placeholder="请设置你的登录密码"></li>
	<li class="nextBtn"><button class="radius" id="submit">完成</button></li>
	
	<li class="nextBtn">
	<p class="gongxi">恭喜您注册成功，快去领取现金奖励吧！</p>
	<button class="radius" id="submit">下载易米融理财app</button>
	</li>
	
</ul>
<img src="images/content2.jpg" width="100%" /><img src="images/content3.jpg" width="100%" />
</div>
</body>
</html>